#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  background-color: black !important;
  margin: 0;
  padding: 0;
  height: 100%;
  color: rgb(155, 137, 137) !important;
}

.note {
  height: 4rem;
}
